@model ECommerceApp.Models.Customer;
@{ViewData["title"]="Register Page";
}
<h3>Register</h3>

@using(Html.BeginForm()){
    <table>
         <tr>
            <th> @Html.LabelFor(model=>model.FirstName) </th>
            <td>@Html.EditorFor(model=>model.FirstName,new {@class="form-control",required="required"}) </td>
        <div class="form-group">
         <tr>
            <th> @Html.LabelFor(model=>model.LastName) </th>
            <td>@Html.EditorFor(model=>model.LastName,new{ htmlAttributes = new {@class="form-control"}})</td>
            @Html.ValidationMessageFor(model => model.LastName,"", new{@class="text-danger"})
        </tr>
        </div>

        <tr>
            <th>@Html.LabelFor(model=>model.ContactNumber) </th>
            <td>@Html.EditorFor(model=>model.ContactNumber,new {@class="form-control",required="required"})</td>
        </tr>
          <tr>
            <th> @Html.LabelFor(model=>model.Email) </th>
            <td>@Html.EditorFor(model=>model.Email,new {@class="form-control",required="required"})</td>
        </tr>
          <tr>
            <th> @Html.LabelFor(model=>model.Password) </th>
            <td>@Html.EditorFor(model=>model.Password,new {@class="form-control",required="required"})</td>
            <td>@Html.ValidationMessageFor(model=> model.Password)</td>
        </tr>
    </table>
    <button ><input type="submit" value="submit"></button>
}
