@using ECommerceApp.Models;
@model Product; 
 @{ ViewData["Title"] ="Products Page"; }

<link rel="stylesheet" href="~/css/table.css" type="text/css" />

<h1>Products</h1>
@using(Html.BeginForm()){

<table>
  
  <input type="hidden" name="product.ProductId" value="@Model.ProductId" />
  <input type="hidden" name="product.ImageUrl" value="@Model.ImageUrl" />
  <tr>
    <th><label for="@Model.Title">Name</label></th>
    <td><input type="text" name="product.Title" value="@Model.Title" /></td>
  </tr>
  <tr>
    <th><label for="@Model.Description">Description</label></th>
    <td>
      <input
        type="text"
        name="product.Description"
        value="@Model.Description"
      />
    </td>
  </tr>
  <tr>
    <th><label for="@Model.UnitPrice">Price</label></th>
    <td><input type="text" name="product.UnitPrice" value="@Model.UnitPrice" /></td>
  </tr>
  <tr>
    <th><label for="@Model.BuyQuantity">Quantity</label></th>
    <td><input type="text" name="product.BuyQuantity" value="1" /></td>
  </tr>
</table>
<button><input type="submit" value="Add" /></button>
}
