@model ECommerceApp.Models.Cart

@{
    ViewData["Title"] = "Cart Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />


<h1>Cart</h1>

<table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>TotalPrice</th>
            <th></th>
        </tr>
        @foreach (var product in Model.Products)
        {
            var TotalPrice=@product.BuyQuantity * @product.UnitPrice;
            <tr>
                <td> <img src="~/@product.ImageUrl" height="50px" width="50px" alt="@product.Title"/> </td>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.UnitPrice</td>
                <td>@product.BuyQuantity</td> 
                 <td>@TotalPrice</td> 
                  <td><a href="@Url.Action("RemoveFromCart", "Cart", new { id = product.ProductId })">Remove</a></td>
            </tr>
        }
</table>

 <div>Total amount: @Model.TotalAmount</div>

<button><a asp-controller="Product" asp-action="ShowAll">Continue Shopping</a></button>
 <button> <a href="@Url.Action("GetAddresses", "Address")">BuyNow</a></button>
@* <button><a asp-controller="Address" asp-action="GetAddresses">BuyNow </a></button>  *@
