
@using ECommerceApp.Models;
@model IEnumerable<OrderHistory>

@{
    ViewData["Title"] = "Products Page";
}
<h1>Products</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.TotalAmmount)</th>
            <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => product.Title)</td>
                <td>@Html.DisplayFor(modelItem => product.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => product.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => product.TotalAmmount)</td>
                <td>@Html.DisplayFor(modelItem => product.OrderDate)</td>
            </tr>
        }
    </tbody>
</table>
<button><a href="/Product/ShowAll">Home</a></button>