@model ECommerceApp.Models.Order;
@{
ViewData["Title"] = "Place Orders";
}

<div class="text-center">
    <h1 class="display-4">Insert Your Orders</Address>
    </h1>
</div>
<link rel="stylesheet" href="~/css/table.css" />
@using (Html.BeginForm()){
<table>
    @* <tr> *@
        @* <th>Address type</th>
        <td><select name="addressmode">
                <option value="permanent">permanent</option>
                <option value= "billing"> billing</option>
            </select>
        </td> *@
    <tr>
        <th>@Html.LabelFor(model => model.OrderId)</th>
        <td>@Html.EditorFor(model => model.OrderId)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(model => model.OrderDate)</th>
        <td>@Html.EditorFor(model => model.OrderDate)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(model => model.CustomerId)</th>
        <td>@Html.EditorFor(model => model.CustomerId)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Status)</th>
        <td>@Html.EditorFor(model => model.Status)</td>
    </tr>
</table>
<button><input type="submit" value="Insert" /></button>
}