@model ECommerceApp.Models.PaymentDetails;
<link rel="stylesheet" href="~/css/table.css" type="text/css" />

<h1>Order Placed Sucessfully</h1>

<table>
    <tr>
        <th>Name</th>
        <th>CreditCartNumber</th>
        <th>CVV</th>
        <th>ExpiryDate</th>
    </tr>
    <tr>
        <td>@Model.Owner</td>
        <td>@Model.CreditCardNumber</td>
        <td>@Model.CVV</td>
        <td>@Model.ExpiryDate</td>
    </tr>
</table>


<table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>amount</th>
            <th></th>
        </tr>
        @{double totalprice=0;
        @foreach (var product in ViewData["products"] as List<Product>)
        {
            double totalamount=@product.BuyQuantity * @product.UnitPrice;
             totalprice = totalprice + totalamount;
            <tr>
                <td> <img src="~/@product.ImageUrl" height="50px" width="50px" alt="@product.Title"/> </td>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.UnitPrice</td>
                <td>@product.BuyQuantity</td> 
                <td>@totalamount</td> 
            </tr>
        }
        }
</table>

   <div> TotalAmount : @totalprice</div>

<h1>Address Details</h1>
<div> 
<p>  @ViewBag.address.HouseNumber ,  @ViewBag.address.Landmark</p>
<p> @ViewBag.address.City ,@ViewBag.address.PinCode</p>
<p> @ViewBag.address.State ,@ViewBag.address.Country</p>

</div>




