@model ECommerceApp.Models.PaymentDetails;
<link rel="stylesheet" href="~/css/table.css" type="text/css" />

<h1>Order Placed Sucessfully</h1>

<table>
    <tr>
        <th>Name</th>
        <th>CreditCartNumber</th>
        <th>CVV</th>
        <th>ExpiryDate</th>
    </tr>
    <tr>
        <td>@Model.Owner</td>
        <td>@Model.CreditCardNumber</td>
        <td>@Model.CVV</td>
        <td>@Model.ExpiryDate</td>
    </tr>
</table>


<table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>TotalPrice</th>
            <th></th>
        </tr>
        @foreach (var product in ViewData["products"] as List<Product>)
        {
            var TotalPrice=@product.BuyQuantity * @product.UnitPrice;
            <tr>
                <td> <img src="~/@product.ImageUrl" height="50px" width="50px" alt="@product.Title"/> </td>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.UnitPrice</td>
                <td>@product.BuyQuantity</td> 
                <td>@TotalPrice</td> 
            </tr>
        }
</table>

<h1>Address Details</h1>
<table>
        <tr>
            <th></th>
            <th>House</th>
            <th>LandMark</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Pincode</th>
         </tr>

              <tr>
                <td> @ViewBag.address.HouseNumber</td>
                <td> @ViewBag.address.Landmark</td>
                <td> @ViewBag.address.City</td>
                <td> @ViewBag.address.State</td>
                <td> @ViewBag.address.Country</td>
                <td> @ViewBag.address.PinCode</td>
            </tr>

</table>   





