@model ECommerceApp.Models.Address;
@{
ViewData["Title"] = "Permenant or Billing Address Page";
}

<div class="text-center">
    <h1 class="display-4">Insert Your Permanent or Billing  Address</Address>
    </h1>
</div>
<link rel="stylesheet" href="~/css/table.css" />
@using (Html.BeginForm()){
<table>
    <tr>
        <th>Address type</th>
        <td><select name="addressmode">
                <option value="permanent">permanent</option>
                <option value= "billing"> billing</option>
            </select>
        </td>
    <tr>
        <th>@Html.LabelFor(model => model.HouseNumber)</th>
        <td>@Html.EditorFor(model => model.HouseNumber)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(model => model.Landmark)</th>
        <td>@Html.EditorFor(model => model.Landmark)</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(model => model.City)</th>
        <td>@Html.EditorFor(model => model.City)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.PinCode)</th>
        <td>@Html.EditorFor(model => model.PinCode)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.State)</th>
        <td>@Html.EditorFor(model => model.State)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Country)</th>
        <td>@Html.EditorFor(model => model.Country)</td>
    </tr>
</table>
<button><input type="submit" value="Insert" /></button>
}