
@using ECommerceApp.Models;
@model IEnumerable<Address>

@{
    ViewData["Title"] = "Address Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />
<div style="text-align: right;">
    <button ><a asp-controller="Address" asp-action="Address">New Address </a></button> 
</div>


<h1>Shipping Address</h1>
<form method="post" asp-controller="PaymentDetails" asp-action="BuyNow">
<select name="address">
<option value="">select address</option>
@foreach (var address in Model)
{
    <option value="@address.AddressId">
        <p>@address.HouseNumber<br/>
        @address.Landmark<br/>
        @address.City<br/>
        @address.State<br/>
        @address.Country<br/>
        @address.PinCode</p>

    </option>

}
</select>
<button><input type="submit" value="Submit" /></button>
</form>


  @* <table>
        <tr>
            <th></th>
            <th>House</th>
            <th>LandMark</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Pincode</th>

            
         <th> Add To Cart</th> 
         </tr>

        @foreach (var address in Model)
        {
            <tr>
                <td>@address.HouseNumber</td>
                <td>@address.Landmark</td>
                <td>@address.City</td>
                <td>@address.State</td>
                <td>@address.Country</td>
                <td>@address.PinCode</td>

               
                <td><a href="@Url.Action("BuyQuantity", "Cart" , new {id=@product.ProductId})"><button> Add to Cart </button></a></td> 
            </tr>
        } 
</table>   



  *@
