@model E_AgroServiceDemo.Models.Farmer
@{
    ViewData["Title"] = "Farmers Details Page";
}
<link rel="stylesheet" href="~/css/table.css" type="text/css" />
<div class="text-center">
    <h1 class="display-4">AllFarmersRecords</h1>
</div>
<table >
    
<tr>
    <th>FarmerId</th>
    <th>FarmerName</th>
    <th>ContactNumber</th>
    <th>Location</th>
    <th>Password</th>
    <th>TotalCreditedAmount</th>
    <th>TotalDeditedAmount</th>
    <th>Balance</th>
</tr>
@{foreach (var farmer in ViewData["allFarmers"] as List<Farmer>){
    <tr>
        <td>@farmer.FarmerId</td>
        <td>@farmer.FarmerName</td>
        <td>@farmer.ContactNumber</td>
        <td>@farmer.Location</td>
        <td>@farmer.Password</td>
        <td>@farmer.CreditedAmount</td>
        <td>@farmer.DebitedAmount</td>
        <td>@farmer.Balance</td>
    </tr>
    }
}
</table>