@model E_AgroServiceDemo.Models.Farmer;
  @{ ViewData["Title"] = "Update Page";
 }
<html>
<head>
<link rel="stylesheet" href="~/css/table.css" type="text/css" />
    </head>
    <body>
    <h2 align="center">Update Farmer</h2>

@using (Html.BeginForm()) {
<table align="center">
  <tr>
    <th>@Html.LabelFor(model => model.FarmerId)</th>
    <td>@Html.EditorFor(model => model.FarmerId)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.FarmerName)</th>
    <td>@Html.EditorFor(model => model.FarmerName)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.ContactNumber)</th>
    <td>@Html.EditorFor(model => model.ContactNumber)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Password)</th>
    <td>@Html.EditorFor(model => model.Password)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Location)</th>
    <td>@Html.EditorFor(model => model.Location)</td>
  </tr>
</table>
<div style="text-align: center;">
<button><input type="submit" value="Update"/></button>
</div>
}
</body>
</html>