
@using SessionManagement.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products Details Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />


<h1>Products Details Page</h1>

<table>
        <tr>
            <th>Name</th>
            <th>AvailableQuantity</th>
            <th>TotalQuantity</th>
            <th>sellQuantity</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.AvailableQuantity</td>
                <td>@product.TotalQuantity</td>
                <td>@product.SellQuantity</td>
                @* <td><a href="@Url.Action("Count", "Cart", new  Product {Id=product.Id ,Name=product.Name, Description=product.Description, Price=product.Price })"><button> Add to Cart </button></a></td> *@
                @*<td><a href="@Url.Action("Count", "Cart", new   {id=product.Id })"><button> Add to Cart </button></a></td>*@
            </tr>
        }
</table>


